body {
	background-color: #ECECED;
font-family: sans-serif;
}
#banner { 
	background-image: url("images/flower.jpg");
  	background-size: cover;
  	height: 90vh;
  	padding: 30px;
  	color: white;
  	text-shadow: 1px 1px 5px black;
  	border-radius: 5px;
  	margin-bottom: 20px;
  }
#title {
	color: #A5BE00;
	font-size: 60px;
	font-family: 'Ubuntu';
	letter-spacing: 2px;
	padding-bottom: 80px;
}
#tagline {
	font-size: 20px;
	font-family: 'Ubuntu';
	padding-bottom: 20px;
}
.small {
	color: #6F9100;
	font-weight: bolder;
	font-size: 30px;
	border: 2px;
	background-color: #DBE57E;
}
p{
	font-family: sans-serif;
	font-size: 20px;
}
a{
	color: #8CA318;
}
#footer {
text-align: right;
color: #5B6336;
font-size: 25px; 
}